<div class="background-container">
    <div class="background-star-0" style="top: 25vh; right: 2vh"></div>
    <div class="background-star-1" style="top: 15vh; left: 1vh"></div>
    <div class="background-star-2" style="top: 44vh; left: 3vh"></div>
    <div class="background-star-0" style="top: 65vh; left: 2vh"></div>
    <div class="background-star-2" style="top: 85vh; right: 3vh"></div>
</div>
